registry=https://registry.npmmirror.com
#registry=https://registry.npmjs.org
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs
ELECTRON_MIRROR=http://npm.taobao.org/mirrors/electron/
ignore=$
