@font-face {
	font-family: font;
	src: url(../scoreboard/electronic.ttf);
}

/** 垂直&水平居中*/
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000;
}

.tomato-box {
    z-index: 1;
	width: 250px;
    height: 250px;
}

.tomato-box svg {
    z-index: 2;
}

.tomato-box .mask {
    width: 230px;
    height: 230px;
    margin-top: 9.9px;
    margin-left: 9.9px;
    position: absolute;
    z-index: 3;
}

.tt-countdown {
	font-family: font, "Courier New", Courier, monospace;
	color: #fff;
    font-size: 60px;
    top: -160px;
    position: relative;
    z-index: 4;
}

.statu {
    z-index: 4;
    position: relative;
    top: -200px;
	font-size: 20px;
}
