.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.Textc\(green\) {
	color: #4caf50;
}

.center-with-flex {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/**  shaking text animation */
@keyframes shake {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.shakingText {
	transition: opacticy 0.5s ease-in-out;
	animation: shake 1.5s;
	animation-iteration-count: infinite;
}
@keyframes progress {
	from {
		stroke-dashoffset: 630;
	}
	to {
		stroke-dashoffset: 0;
	}
}
