# Project Overview

This project, named Geekits, the all-in-one digital toobox, is built using Next.js and TypeScript. It integrates various libraries for state management, UI components, and data fetching.

# Tech Stack

-   Next.js
-   Material UI v5
-   TypeScript
-   Styled Components
-   Supabase
-   Capacitor (for mobile app)
