.header-width-saying {
	padding-bottom: 9px;
}
.saying {
	position: absolute;
	line-height: 5;
	top: 13px;
	max-width: 70%;
}

.Textc\(green\) {
	color: #4caf50;
}

.center-with-flex {
	display: flex;
	justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* 撑开底部 
.bottom-alert-mask-brace{
    height: 60px;
    padding: 20px;
}

.bottom-alert-mask {
    height: 100px;
    margin-top: -100px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #fff);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}
*/
