.copyright {
    position: fixed;
    bottom: 7px;
    left: 10px;
    right: 10px;
}

.mdui-fab i{
    color: white;
}

header{
    transition: 0.3s box-shadow;
}

.hidden {
    display: none;
}

.header-width-saying {
    padding-bottom: 9px;
}
.saying {
    position: absolute;
    line-height: 5;
    top: 13px;
    max-width: 70%;
}
/*
#grad {
    width: 100%;
    height: 180px;
    background-image: linear-gradient(rgb(76, 175, 80), transparent);
}
#grad .text {
    position: absolute;
    left: 20px;
    top: 52px;
    color: #ffffff;
}
#grad .text p.title {
    font-size: 2em;
}
#grad .text p.subtitle {
    position: relative;
    font-size: 0.9em;
    bottom: 18px;
}
*/
.mdui-card.appinfo .mdui-card-primary {
    padding: 18px 16px 16px 16px;
}
.mdui-fab {
    z-index: 999;
}


.bottom-dashboard .mdui-card {
    position: static;
}

@media screen and (max-width: 640px) {
    .bottom-dashboard {
        z-index: 1002;
        position: fixed !important;
        bottom: 0;
        right: 0;
        left: 0;
        max-height: 90%;
        transition: 0.5s bottom;
    }
    .channel{
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media screen and (min-width: 1024px) {
    .saying {
        top: 17px;
    }
}

.loading {
    position: fixed !important;
    top: 0px;
    z-index: 9999;
    width: 100% !important;
    left: 0px;
}

.bottom-alert .main {
    overflow-y: auto;
    height: 90%;
}

/* 撑开底部 
.bottom-alert-mask-brace{
    height: 60px;
    padding: 20px;
}

.bottom-alert-mask {
    height: 100px;
    margin-top: -100px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #fff);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}
*/
