/*@font-face{
  font-family:title;
  src: url(./pages/about/title.ttf);
}*/
.draw-title{
    font-family:title;
    font-size:3.0em;
    text-align:center
}
.draw-subtitle{
    font-size:0.8em;
    text-align:center;
    letter-spacing:8px
}
.main-load {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.header-width-saying{
    padding-bottom:9px;
}
.saying{
    position: absolute;
    line-height: 5;
    top: 9px;
    max-width: 70%
}
#grad {
    width: 100%;
    height: 180px;
    background-image: linear-gradient(rgb(76, 175, 80),transparent)
}
#grad .text{
    position: absolute;
    left: 20px;
    top: 55px;
    color: #ffffff
}
#grad .text p.title {
    font-size: 2em
}
#grad .text p.subtitle {
    position: relative;
    font-size: 0.9em;
    bottom: 15px
}
.mdui-card.appinfo .mdui-card-primary{
    padding: 18px 16px 16px 16px;
}
.mdui-fab{
    z-index: 999
}

i.nologin{
    font-size:2.0em;
    width:50px;
    height:50px;
    display: block;
}
/*图片黑白滤镜*/
img.desaturate { filter: grayscale(100%); 
-webkit-filter: grayscale(100%); 
-moz-filter: grayscale(100%); 
-ms-filter: grayscale(100%); 
-o-filter: grayscale(100%);
}

.bottom-dashboard{
    z-index:999;
    position:fixed !important;
    bottom:0;
    right:0;
    left:0
}

@media screen and (min-width:1024px ) {
    .bottom-dashboard{
        left:240px;
    }
}